[2014-06-04 15:12] hinerm opened #1 "Not clear how to get output after loading a model"
If I load a classifier model, the `Create result` button remains grayed out.

If I try to `Plot result`, I get an error message:

I can run `Get probability`, but it doesn't make the `Create` or `Plot` options work.

[2014-11-06 14:24] dscho opened #2 "Phase out ImgLib1 to allow for a first reproducible build"
As agreed between @tpietzsch, @StephanPreibisch, @ctrueden, @hinerm and myself at the ImgLib2 hackathon in May 2013, ImgLib1 is deprecated. Therefore it makes the opposite of sense to release it _now_. Corollary: `Trainable_Segmentation` must rid itself from the dependency to be able to be built reproducibly.

This is required before `Trainable_Segmentation` can re-enter `pom-fiji`.

[2014-11-07 18:47] #2 closed, assigned to iarganda

[2014-11-21 05:04] ctrueden opened #4 "Eliminate dependency on ImageScience library"
Unfortunately, the [ImageScience library's license](http://fiji.sc/ImageScience_License) does not allow it to be consumed as a dependency from GPL code.

[2015-01-22 09:12] iarganda commented on #1
Thanks @hinerm, everything is fixed in the new release. "Plot result" only works if you have training samples, so either you load some data from file or trace samples from at least two classes.

[2015-01-22 09:12] #1 closed

[2015-03-13 23:32] AminSuzani opened #6 "Exception in RandError"
Hi,

I tried the sample beanshell script for the rand error, but I get an error all the time. here is my code:
[code]
A.tiff and B.tiff are two simple images where half of each of them is black and the rest is white. I tried different combinations of input images, but got the same error. I use the command `java bsh.Interpreter randErrorTest.java`. Here is the error I got:
[code]
Does anyone know h

[2015-03-14 02:57] ctrueden commented on #6
@AminSuzani Presumably you are referring to [the Rand_error wiki page](http://fiji.sc/Rand_error)?

Note that BeanShell scripts given on the ImageJ wiki are intended to be executed from within the ImageJ Script Editor. File > New > Script, or press `[`, then choose BeanShell from the Language menu. If you try to run the script using `java bsh.Interpreter`, there will be a couple of problems:
* The

[2015-03-14 02:57] #6 closed

[2015-03-14 02:58] ctrueden commented on #6
Closing as invalid, but please reopen if you continue to have trouble with the approaches recommended above. Also note that the ImageJ wiki, being a wiki, welcomes contributions from the community. If you want to spiff up the Rand_error page to avoid future confusion, that would be awesome.

[2015-03-16 23:41] AminSuzani commented on #6
Thanks. It works inside the ImageJ.

[2015-04-14 09:36] iarganda commented on #4
@ctrueden can I close this issue? Is this solution satisfactory for you?

[2015-04-14 15:28] ctrueden commented on #4
__TL;DR: I will submit a PR later today that addresses this issue to my satisfaction.__

@iarganda Legally, ImageScience has its ducks in a row now, as a result of the above discussion. But the situation with TWS is trickier, and not solved as things stand.

In case you haven't read them yet, these FAQ entries discuss the relevant issue:
* [Can I write free software that uses non-free libraries?](

[2015-04-14 15:33] iarganda commented on #4
OK, thanks for the clear explanation! I agree that using ImageJ OPS features substituting the ImageScience ones is the right way to go. Hopefully soon!

[2015-04-15 10:48] #4 closed

[2015-06-30 10:07] LWollatz opened #11 "opening TWS from macro requires path"
When trying to open the TWS using a macro, following bug occurs:
macro recorder produces:
`path=[Ljava.lang.String;@45141235`
as the last argument (after 'open' and 'inputfile')
Both 'open' and 'inputfile' take the same value (path + filename of the image file to open).
When trying to execute the macro command, following error occurs:
**'path' is required but unset.**
this goes not only for the or

[2015-07-28 13:16] mrgloom opened #12 "How to use several images in segmentation?"
As I understand, as shown in tutorial, Trainable Weka Segmentation can only work with one 2D image, but how can I mark several images and train one classifer for all of them?

If I can't do it through interface, maybe I can do it by making changes in code?

Also it will be great that after marking one image I can apply some kind of online / iterative learning algorithm if it possible.
seems there

[2015-07-28 13:52] iarganda commented on #12
Hello @mrgloom ,

Yes, you can train on several 2D images at the same time using the GUI. You just need to load them all first as a stack in Fiji. Each slice of the stack will be treated as a separate image by the plugin.

Regarding the online/iterative learning algorithms, you can choose any algorithm available in Weka if you click on the Settings button of the plugin GUI.

I hope this helps!

[2015-08-13 14:48] mrgloom commented on #12
Yes, I tried stack, but to combine images to stack I need to load all images to RAM, is there any workaround to process all images, but loading only one image at one time to RAM?

[2015-08-15 09:42] iarganda commented on #12
Unfortunately, that option is not implemented in the GUI. Noted for my TODO list. You can also open an issue here if you want. Thanks for the feedback!

[2015-09-18 08:54] iarganda commented on #11
Hello @LWollatz

As @imagejan nicely explained on his answer in stackoverflow *the Trainable Weka Segmentation plugin doesn't adhere to the macro recording conventions of ImageJ, mainly because of its complex structure.*

*However, the correct way to interact with the plugin by macro scripting is described extensively in its [documentation on the Fiji wiki](http://fiji.sc/Trainable_Weka_Segmentati

[2015-10-13 11:01] mrgloom opened #13 "Original image and slices."
When I don't choose any features in settings and use SGD as a classifier I get something like

[code]

As I understand I we have "score"  for each "feature slice" which is add via `wholeStack.addSlice`

I wonder what is the 'original' ? is it gray or it's RGB, if RGB why it's treated as one slice?

Also as I understand magnitude of values of each slice in disicion boundary of linear classifier (SG

[2015-10-15 08:26] mrgloom commented on #13
Also when I save slices as multipage tiff file, even slices that have 1 channels(for example H,S,V components) saved as 3 channel images.

[2015-10-15 08:32] mrgloom opened #14 "User input mask can be saved or loaded?"
Can we save user input labels as some mask? And can we load masks from files somehow?

[2015-10-15 09:19] iarganda commented on #13
Hello @mrgloom

Let me go through your questions in order:

For grayscale images the feature "original" is the input image itself, but for RGB images that feature is calculated as a combination of its channels following this formula: value=r/3+g/3+b/3

Regarding the sign of the weight of each feature, remember that in [Stochastic Gradient Descent](https://en.wikipedia.org/wiki/Stochastic_gradient_

[2015-10-15 09:34] iarganda commented on #14
So far you can only do that programatically using a method like [addBinaryData](https://github.com/fiji/Trainable_Segmentation/blob/master/src/main/java/trainableSegmentation/WekaSegmentation.java#L2295). You have some scripting examples on the Fiji wiki under [Scripting the Trainable Segmentation](http://fiji.sc/Scripting_the_Trainable_Segmentation#Adding_training_samples).

From the GUI, what yo

[2015-10-21 06:55] silverroses opened #15 "Error Caused by java.lang.ArrayIndexOutOfBoundsException"
Hello!

I've been using your very cool plug-in to help with the image segmentation of a three phase material. It has been working well, but now I have been getting an error caused by java.lang.ArrayIndexOutOfBoundsException. I'm analyzing a 3-D 672x672x90 image. I am wondering,  does the code has a maximum number of sample pixels that can be given? Or is this another instance of an out of memory e

[2015-10-21 08:02] iarganda commented on #15
Hello @silverroses
Thanks for the feedback! It could be a memory error but it's quite surprising that it happens during training. Can you send the whole log of the console, please? Also, how much RAM memory do you have?

[2015-10-21 09:04] silverroses commented on #15
Thank you for the prompt response!

I deleted some pixels, and the error stopped occurring. The computer has 32 GB of RAM and its processor is the i7-4790. Here is a screen shot of the memory allocation during training.

![image](https://cloud.githubusercontent.com/assets/14840764/10632243/fe558530-7797-11e5-9157-69680a75954a.png)

Here is the log:

Refreshing GOE props...
java.lang.NullPointerExc

[2015-10-21 09:48] iarganda commented on #15
Thanks, @silverroses That was very useful! It seems the error is on the construction of the random forest, which is very surprising. Can you try using the regular RandomForest classifier from WEKA and let me know what happens?

It would be very helpful if you could send me the input image and the ROIs you used so I can reproduce the error on my machine.

[2015-10-21 10:02] iarganda commented on #15
Could you also send me the output of the Fiji log window, please? That way I can know how many features you're using and on how many slices you traced some samples.

[2015-10-21 14:29] LWollatz opened #16 "Out of date documentation"
The documentation on Fiji (http://fiji.sc/Trainable_Weka_Segmentation) is out of date. I worked through the filter implementations and am happy to provide an update but I am not sure who is maintaining it. There are some things that I noticed from comparing documentation and implementation that might require minor changes in the code:
1. The Sobel filter as well as the Hessian are applied for Gaus

[2015-10-21 14:34] ctrueden commented on #16
In general, it is a wiki, so if you see wrong or out of date documentation, you are warmly encouraged to fix it.

The maintainer of TWS is @iarganda. He is awesomely helpful and responsive, so maybe he'll just go ahead and make the changes; I don't know. But you certainly don't have to wait for him to fix the problems.

[2015-10-21 14:44] LWollatz commented on #16
Happy to work on the documentation myself, just couldn't find an "edit" button... I will look harder :-)
Also might look into working on the code but I know iarganda is very active and probably will just edit these few lines before I even got around pulling the code :-)

[2015-10-21 14:44] #16 closed

[2015-10-21 15:41] iarganda commented on #16
Hello @LWollatz
Thanks for commenting on all of these issues. Let me go through them:

*1. The Sobel filter as well as the Hessian are applied for Gaussian blurs as described in the documentation, but also for the original image prior to smoothing if e.g. sigmamin == 1. Is this intended?*

Yes, this is intended. When the sigma is 1, we use a circular filter kernel of radius 1, so it is different f

[2015-10-21 16:09] LWollatz commented on #16
I changed the discrepancies I found in the documentation.
I will have a look at the Hessian and Sobel filter again, to see if the documentation requires any update/ mentioning of this special case or not.

[2015-10-21 16:21] iarganda commented on #16
That's great, thank you very much!

[2015-10-22 06:46] silverroses commented on #15
Hello!
So after deleting some data points, I haven't encountered the error again, I'll start adding more points for a better classification and once the error occurs again, I'll send the data. Just one question, the ROI's would be the arff file, no? Thanks!

[2015-10-22 07:42] iarganda commented on #15
I understand you can't send me the ARFF files because whenever you try to save the data the plugin throws an exception. I meant to send me the actual regions of interest you traced using the GUI. You would have to save them using the ROI manager.

[2015-10-27 13:36] Sciss opened #17 "Missing information on installation"
Hi. How do I build this project and add it to the Weka GUI application? Neither the README nor the website say anything about this. If I have `target/Trainable_Segmentation-2.3.1-SNAPSHOT.jar`, what do I do with this file to register it with Weka?

[2015-10-27 13:53] iarganda commented on #17
Hello @Sciss
This project is intended to be used from [Fiji](http://fiji.sc/Fiji), a general purpose image processing toolbox. What you can do is to store the feature vectors created by the Trainable Weka Segmentation GUI into ARFF files that you can then open from the Weka GUI. Does it make sense?

[2015-10-27 14:07] Sciss commented on #17
Oh ok. That's fine, I just want to play around with the segmentation. How would I install this plugin from within ImageJ? Or is it already include it (couldn't find it from the menu yet).

[2015-10-27 14:10] #17 closed

[2015-10-27 14:13] iarganda commented on #17
You just need to install Fiji :)

[2016-02-11 21:14] ctrueden opened #18 "Translate TWS core algorithms to ImageJ Ops"
We would like to create ops that perform pixel-wise classification based on input parameters—such as a list of features to compute, and initial training set—and producing an output `ImgLabeling` of the classification. Then the UI for TWS can be refactored to call the ops and produce the same results as before, but backed by the ops framework.

A related part of this work could be to also convert t

[2016-02-11 21:32] LeeKamentsky commented on #18
My preference would be to not have it be quite as monolithic - I'd like to see an Op that had an image as input and an image whose channel hyperplanes were class probabilities for each of the classes and perhaps that primitive could be fed into another to do the segmentation.

We usually break things into two pieces - a pixel classification step followed by a segmentation step. That lets you tailo

[2016-02-11 21:39] dietzc commented on #18
Hi all,

actually we (@EikeHeinz, @hornm and me) are currently working on several things related to this problem.

(a) We started reimplementing a subset of the features we have in trainable segmentation. Basically, all the filter based features. So, actually these features are just using existing ops. If the ops were missing, we implemented them (see e.g. https://github.com/imagej/imagej-ops/pull

[2016-02-11 21:43] dietzc commented on #18
ah maybe one more thing to add to (b) there will be helpers which allow one to calculate arbitrary features on images (whatever we have), stack them as one `RAI` with n+1 dimensions and create a `RAI<CompositeType>` of it. It can all be done with `View(s)`.

[2016-02-11 22:08] dietzc commented on #18
About postprocessing of probability images: so many ways to derive segmentations from them. Easiest would be to simply perform a max projection over the n+1 dimensional RAI ... Which btw could also be a n-d of CompositeType.

[2016-02-12 11:40] iarganda commented on #18
Hello everybody!

Everything looks good to me.

@ctrueden I agree with the modularity proposed by @LeeKamentsky (first create probability maps and then labels) and it is true that features could have a way of being called as a mini-plugin or filter. All features should be identified on running time (for example by extending a specific class) so adding new features would be as easy as creating a ne

[2016-02-12 11:55] dietzc commented on #18
We named this interface 'PixelFeature'.

[2016-02-13 16:55] hornm commented on #18
Synchronizing our efforts via an online-conference makes absolutely sense! Just for everyone's information: if everything works out as @iarganda and I planing it, I am going to work on porting the 'Trainable Segmentation' plugin (gui and algorithms) to ImageJ, Ops and KNIME in June for a month. However, I will hardly be able to work on that earlier. Hence, I am happy to continue and build on relat

[2016-02-17 03:08] silverroses commented on #15
Hello again!

Sorry for the late reply. I noticed that the error occurred because I added an additional training features to the default while having a large training dataset. Since I had a conference paper deadline, i just analyzed the images with the default.

Now, since analyzing a 100 slide portion of the 1000 image stack takes a lot of iteration, and a classifier on a set of 100 slides is not

[2016-02-18 14:46] iarganda commented on #15
Hello Isa,

Thanks for sending the data, that really helps! I think you don't need to use many features for this problem. Here is what I got using your ROIs and just 31 features:
![results-tws-31-features](https://cloud.githubusercontent.com/assets/4041131/13146522/832729d6-d656-11e5-8cc5-e8852f6dd1b6.png)
What do you think? These are the settings I used:
![settings](https://cloud.githubuserconten

[2016-03-24 15:41] #12 closed

[2016-03-24 15:42] #14 closed

[2016-03-25 08:52] mrgloom opened #19 "Warning while running Trainable Segmentation using scripting API"
I'm trying to write a script to batch proccess several images.

here it is:

[code]

But result not produced and I get some warning/errors:

[code]

[2016-05-12 00:01] ctrueden opened #22 "Deadlock when applying classifiers"
- Open Blobs
- Run Trainable Segmentation
- Load classifier, pick a saved classifier
- Apply classifier, but cancel the dialog box
- Apply classifier again, see deadlock (at least on OS X with Java 8)

[code]

[2016-05-12 12:04] iarganda commented on #22
It works fine in Linux. I will try later on a Mac.

[2016-05-12 12:10] iarganda commented on #19
The warning messages are normal and not related to the issue. They are shown the first time you call the plugin. Can you try adding a wait after calling the plugin on your macro? Have a look at this [example on the wiki site](http://imagej.net/Trainable_Weka_Segmentation#Complete_macro_example:).

[2016-09-16 00:36] yanningzuo opened #31 "Cannot use Macro to load classifier"
Hi,

It seems to be some problems with the "load classifier" macro command. I tried several time with the command as below,but overtime it said "cannot load classifier":

run("Trainable Weka Segmentation");
selectWindow("Trainable Weka Segmentation v3.1.2");
call("trainableSegmentation.Weka_Segmentation.loadClassifier", "/Users/lab-public/Desktop/Green.model");
call("trainableSegmentation.Weka_Seg

[2016-09-16 00:56] yanningzuo commented on #31
It says
Caused by: java.lang.NullPointerException
	at trainableSegmentation.Weka_Segmentation$CustomWindow.setButtonsEnabled(Weka_Segmentation.java:1110)
	at trainableSegmentation.Weka_Segmentation.loadClassifier(Weka_Segmentation.java:2735)

[2016-09-16 01:11] yanningzuo commented on #31
Just found it's working on PC

[2016-09-16 08:42] iarganda commented on #31
Thanks for reporting! It probably has to do with the dialog to choose the classifier file. I'll fix it as soon as I can.

[2016-09-20 20:05] yanningzuo commented on #31
Thank you so much!

Yanning Zuo
Staff Research Associate, Hong Lab

Department of Biological Chemistry
Department of Neurobiology
David Geffen School of Medicine
University of California, Los Angeles

On Fri, Sep 16, 2016 at 1:42 AM, Ignacio Arganda-Carreras <
notifications@github.com> wrote:

[2016-09-21 14:08] iarganda commented on #31
It seems it is a known problem of the open dialog system. Can you please try again after selecting the "Use JFileChooser to open/save" option in the _Edit > Options > Input/Output..._ menu?

It should look like this:
![screenshot from 2016-09-21 16 06 52](https://cloud.githubusercontent.com/assets/4041131/18714261/7ca991ac-8015-11e6-93d1-fb4a0fedc105.png)

[2017-01-19 09:59] stelfrich opened #32 "Loading a 3D-trained classifier fails"
When trying to load a 3D-trained classifier, either via UI or via a macro/script, the following exceptions is thrown:

[code]

This is due to the fact, that [`WekaSegmentation.adjustSegmentationStateToData`](https://github.com/fiji/Trainable_Segmentation/blob/master/src/main/java/trainableSegmentation/WekaSegmentation.java#L3990-L4056) interprets the used features according to `FeatureStack` inste

[2017-01-19 14:45] iarganda commented on #32
Hello @stelfrich , I am not able to reproduce the error. Did you try to load the 3d classifier from the GUI of "Trainable Weka Segmentation 3D" or the regular "Trainable Weka Segmentation"?

[2017-01-19 15:54] stelfrich commented on #32
It actually first noticed when loading from a script, @iarganda. But then I checked with the GUI and can reproduce the issue:

1) Start Trainable Weka Segmentation 3D
2) Select image (coincidentially the one I have trained on)
3) Click `Load classifier` and select the _*.model_ file

Looking at the source code it also makes sense that this error pops up, since `adjustSegmentationStateToData` does

[2017-01-19 17:27] iarganda commented on #32
You are completely right! Thanks for pointing this out. I will check your changes and merge them as soon as I can.

[2017-01-20 12:21] #32 closed

[2017-01-20 12:28] iarganda commented on #32
OK, I made some changes to your pull request and everything should work now. Thank you very much, @stelfrich !

[2017-02-17 19:14] DinaSkp commented on #22
Hi,

Did you find a solution?
I have the same problem, when I try to load the classifier that I've just trained an ‘Error when loading Weka Classifier from file’ opens in a dialog box and nothing load.
I'm working on Window 7.

Many thanks.

[2017-02-17 19:57] iarganda commented on #22
Hello @DinaSkp ,
Did you get any more messages in the log or console window?

[2017-02-17 20:15] DinaSkp commented on #22
I get those messages:
'Error while loading classifier'
When I click Ok:
'Error when loading Weka classifier from file'
And in the log:
Error: classifier could not be loaded.

[2017-02-17 20:18] iarganda commented on #22
That looks different from the error reported before by @ctrueden. What steps did you follow? Just train, save classifier, load classifier and get the error?

[2017-02-17 20:21] DinaSkp commented on #22
Yes. Then I tried after closing and reopening Fiji and I get the same result

[2017-02-17 20:22] iarganda commented on #22
I see, can you send me the file so I can reproduce the error, please?

[2017-02-17 20:26] DinaSkp commented on #22
The file is to big to be pasted here

[2017-02-17 20:31] iarganda commented on #22
Sure, you can use the [Upload Sample Image option in Fiji](http://imagej.net/Upload_Sample_Image) or use any public file sharing system as Google Drive, Dropbox, Mega...

[2017-02-17 20:55] DinaSkp commented on #22
Ok! I sent you a Google Drive attachment. Thanks again.

[2017-02-18 07:20] iarganda commented on #22
Got it, I can reproduce the error. Can you tell me which version of the plugin you used? Also, what java version are you using?

[2017-02-18 18:03] DinaSkp commented on #22
Great!
I used the 3.2.2 of the plugin and java 7 update 17

[2017-02-19 17:57] iarganda commented on #22
Just to be sure, can you try saving and loading the classifier with the latest plugin version (3.2.4)? And maybe java 8 as well?

[2017-02-20 10:33] iarganda commented on #22
@ctrueden release 3.2.5 fixes the issue if you deselect the use of JFileChooser in the Input/Output options of Fiji. The bug is related to the JFileChooser issues in Mac OS already reported before by @tpietzsch (see this [post](http://forum.imagej.net/t/register-virtual-stack-slices-plugin-hangs-on-macos/1123/2?u=iarganda) in the Forum).
@DinaSkp I'm going to close this issue. If you still have pr

[2017-02-20 10:33] #22 closed

[2017-02-20 10:34] iarganda commented on #31
@yanningzuo Did you finally test if my proposed solution fixed the issue?

[2017-02-20 10:35] iarganda commented on #15
Dear @silverroses, can you please confirm if the issue was fixed with the latest versions of the plugin?

[2017-02-20 10:36] #13 closed

[2017-02-20 10:37] #11 closed

[2017-02-20 10:41] iarganda commented on #19
The warning message were removed on this [commit](https://github.com/fiji/Trainable_Segmentation/commit/686dfddccbacea6199aae686055f18b30d8793d1).

[2017-02-20 10:41] #19 closed

[2017-02-20 19:14] DinaSkp opened #34 "Problems with load classifier"
Hello!

I'm using Java 8 and the latest plugin version (3.2.5) and I still have problem using the load classifier option in the plugin "Trainable Weka Segmentation".
When I try to load the classifier that I've just saved to apply it on another image, nothing happens.
In the log it says "Loading Weka classifier from ..." and when I double click on that line a dialog box open saying "File is not in

[2017-02-20 19:19] iarganda commented on #34
The second error is just a common Fiji message whenever you double click on text in the Log window. Nothing related to the original problem. Regarding the first error, could it be that the classifier just takes long on loading? How large is it?

[2017-02-20 19:21] DinaSkp commented on #34
It's 1.7 Go. Maybe it's too large...

[2017-02-20 19:25] iarganda commented on #34
It could be that, just check if the CPU is running while you wait ;)

[2017-02-20 19:44] DinaSkp commented on #34
I think it's still loading. Does the number / size of images, or maybe th number of region I use to train the classifier impact on its size?

[2017-02-20 19:48] iarganda commented on #34
It mostly depends on the classifier you use, the number of features and the difficulty of the classification task. If you use a random forest (the default classifier), it might be large if you use many trees and the task is hard, because the trees are not trimmed by default.

[2017-02-20 19:54] DinaSkp commented on #34
OK! Good to know. Thanks

[2017-02-20 21:58] DinaSkp commented on #34
So, I've reduced the number of trees. It led to marginal effects in segmentation performance while significantly decreasing processing time and memory usage. Also it resolve the problem with the time to load the saved classifier.
Thank you so much for the help and rapid feedback!

[2017-02-20 22:41] iarganda commented on #34
Thank you for reporting!

[2017-02-20 22:41] #34 closed

[2017-02-21 04:34] yanningzuo commented on #31
Hi Ignacio,

Very sorry for the late reply... I was using PC and I just confirmed that
Mac still couldn't open classifier after selecting the "Use JFileChooser to
open/save" and using version 3.2.4.

Thank you so much for reminding me!

Best regards,

Yanning

Yanning Zuo
Staff Research Associate, Hong Lab

Department of Biological Chemistry
Department of Neurobiology
David Geffen School of Medici

[2017-02-21 08:18] iarganda commented on #31
Hello @yanningzuo,
It works the other way around. If you are using a Mac, you should uncheck the "Use JFileChooser to open/save" option. It seems there is a problem with JFileChooser on Mac OS.

[2017-02-21 15:31] hanslovsky opened #35 "Cannot load classifier into "blank" WekaSegmentation instance"
I would like to apply a trained 2D model to a 2D image but I fail at loading the classifier already.
Minimum working failing example:
[code]
Output:
[code]
`featureStackArray` is null at that point.

For now I can use this work-around (thanks to @stelfrich ) but I am worried that it would do unnecessary feature computations and it is more confusing to call the constructor with an `ImagePlus`:
[cod

[2017-02-21 15:40] iarganda commented on #35
Hello @hanslovsky !
If you use the that `WekaSegmentation` constructor, you need to set the training image with the method `setTrainingImage()` as described in the [API](http://javadoc.imagej.net/Fiji/trainableSegmentation/WekaSegmentation.html#WekaSegmentation()). I will check if I can implement an alternative...

[2017-02-21 15:54] hanslovsky commented on #35
As @iarganda stated on [gitter](https://gitter.im/fiji/fiji?at=58ac60fa21d548df2c3b89d7), no features will be computed before call to `applyClassifier`.
This resolves this issue for me because I can just use the `WekaSegmentation( ImagePlus )` constructor without any overhead.
Maybe just renaming the argument of `WekaSegmentation( ImagePlus )` to just `image` would be a good idea.

[2017-02-21 15:56] iarganda commented on #35
Thanks @hanslovsky ! I will implement an alternative to work with `WekaSegmentation` without using a training image as you were trying to do.

[2017-02-21 15:56] #35 closed

[2017-02-21 19:48] yanningzuo commented on #31
Hi Ignacio,

I actually tried both ways but neither worked on Mac...

[2017-02-21 21:26] iarganda commented on #31
Weird! Which version of Mac OS and Java do you have?

[2017-02-21 22:08] yanningzuo commented on #31
I am using OS X Yosemite 10.10.5 and did not install Java on my Mac

[2017-02-21 22:43] iarganda commented on #31
I just noticed you are not using version 3.2.5 which enforces the use of other dialogs instead of JFileChooser if the option is unchecked. Can you please try with that version of the plugin?

[2017-02-21 23:06] yanningzuo commented on #31
Actually, I am using the latest version 3.2.5 updated today. I remember it
was 3.2.4 last night

This is my most recent code:

selectWindow("Result of Clipboard-1");
run("Trainable Weka Segmentation");
selectWindow("Trainable Weka Segmentation v3.2.5");
call("trainableSegmentation.Weka_Segmentation.loadClassifier",
"/Users/lab-public/Desktop/Green.model");
call("trainableSegmentation.Weka_Segmenta

[2017-02-22 08:08] iarganda commented on #31
I see, and this only happens from a macro? You might need to add a `wait` command after calling the plugin so it has time to load. This works for me:
[code]

[2017-05-11 14:54] ctrueden opened #37 "Test JAR file is huge"
As of 519f21b534fa20d9f4d1756bdefdf1f9944c0236, the repository blew up by 76M, and the `Trainable_Segmentation-x.y.z-SNAPSHOT-tests.jar` now weighs in at 66M.

Would it be possible to somehow test that the features are correct, without needing the 76M `features-expected.tiff`? Or at least without bundling it into the `tests` JAR which gets deployed to the remote Maven repository every time?

[2017-05-12 06:28] iarganda commented on #37
I agree.

@maarzt can you please change your test or use a smaller image? Thanks!

[2017-05-15 13:04] #37 closed

[2017-05-15 18:39] ctrueden commented on #37
Do you want to purge it from the git history, too? Or you don't care enough?

[2017-05-16 19:12] ctrueden commented on #37
OK, I see your thumbs up. If you want me to purge it, then afterward you (and everyone) will need to `git checkout master && git fetch && git reset --hard origin/master` to get back in sync. I will also need to rewrite a couple of tags. Is that all OK?

[2017-05-23 14:37] tischi opened #39 "Log memory usage"
The log window currently reports on how long each step takes, which is very nice!

However it would be also very good if the log window stated how much memory the feature stack currently needs as this might be also a limiting factor.

[2017-05-23 15:07] ctrueden commented on #39
Java does not provide a built-in way to ask how much memory arbitrary objects are taking. So implementing this feature might be quite involved. That said, if there are arrays of primitives involved (which there often are), it would be doable to give a lower-bound estimate. But his feasible it is depends on how deeply those array references are buried in the types involved.

[2017-05-24 07:38] tischi commented on #39
@ctrueden:
I stage a pull request, where I tried to add logging the size of the feature stack:
https://github.com/fiji/Trainable_Segmentation/pull/40

[2017-05-27 15:47] iarganda commented on #39
Thanks for your comments, @tischi and @ctrueden !
Apart from the memory taken by the feature stack array, there are related objects whose size might be worth measuring as well. I will have a look as soon as I can.

[2017-07-21 15:29] mattb112885 opened #41 "Suggestion -- reusing Gaussian filters for Difference of Gaussian calculations"
Greetings,

I'm taking a look at the implementation of Gaussian filter features and noticed that the Difference of Gaussian feature calculator separately computes filtered images for each pair of Sigma values, and therefore would compute the Gaussian at each value of sigma multiple times. Note -- I am not sure if this really a bottleneck, so any comments are welcomed.

I think there are several wa

[2017-07-23 18:25] iarganda commented on #41
Hello @mattb112885,
Actually the Gaussian feature can be reused by many other features, not only DoG. It is not done for the sake of simplicity when calling the the features in a multi-thread fashion and also because its calculation is quite fast. That being said, I agree it would be a nice improvement to make the Gaussian filtered versions of the input image reusable by other features. I'll look

[2017-09-07 13:37] zimonth opened #43 "Tried to install and use this with imageJ v 1.50h, but it complains it cannot find it"
I have Trainable_Segmentation-Trainable_Segmentation-3.2.12.jar in /usr/share/imagej/plugins, where also other installed plugins (jars) are and are working, ie. "Volume Viewer" and  "3d Viewer"

It shows in the ImageJ menu: Plugins > Segmentation > Trainable Wega Segmentation

But when tried to use it:
"Plugin or class not found: "trainableSegmentation.Weka_Segmentation" (java.lang.ClassNotFoundEx

[2017-09-08 01:09] iarganda commented on #43
Hello @zimonth,
The Trainable Segmentation has many dependencies, namely:
[code]
The recommended way to have everything correctly installed is to use [Fiji](http://imagej.net/Fiji) instead of plain ImageJ.

I hope this helps!

PS: the latest release of project is 3.2.15. You have it [here](https://github.com/fiji/Trainable_Segmentation/releases). But again, it is just simpler to use Fiji and get t

[2018-03-07 17:39] xupoplar opened #44 "Question about mergeResultChannels"
My understanding is that the image features are calculated on each colour channel, and then it calls:
ImagePlus merged = mergeResultChannels(results);
wholeStack.addSlice(merged.getTitle(), merged.getImageStack().getProcessor(1));

I also noticed in the output training data, there's only one value for the feature(sobel as an example)

@attribute original numeric
@attribute Hue numeric
@attribute S

[2018-03-09 15:13] iarganda commented on #44
Hello @xupoplar
Yes, the feature values of each channel are stored separately as an [ImageStack](https://imagej.net/ij/developer/api/ij/ImageStack.html) of [ColorProcessor](https://imagej.net/ij/developer/api/ij/process/ColorProcessor.html) objects. Then, to create the Weka DenseInstance objects, [the three channel values are combined using regular averaging](https://imagej.net/ij/developer/api/ij

[2018-04-04 01:49] ljsh739 opened #45 "Questions about getting the segmentation data"
Thanks for your Trainable Segmentation ! It gives me a chance to solve a problem easily!
But I still have a little questions about using the plugin....
Since I am counting droplets in a picture and the droplets are very close to each other, it is difficult to count
them simply using image J. When I use your Trainable Segmentation, I found that it can create a good result but I don't know how can I

[2018-04-04 15:40] iarganda commented on #45
Hello @ljsh739 ,
Thanks for your comments! This is probably a question that is better posted in the [ImageJ forum](http://forum.imagej.net/). To analyze the results obtained with the Trainable Weka Segmentation plugin you might want to use some of the tools available in [MorphoLibJ](http://imagej.net/MorphoLibJ).  Again, you may want to have a look at the forum first and see if someone posted a si

[2018-04-09 01:07] ljsh739 commented on #45
Thank you for your reply！I will try to find a better solution :)

[2018-04-17 11:47] rejsmont commented on #18
If I could pop into the discussion - an op that trains a classifier based on training image set and classification op that reuse the classifier would be great!

[2018-06-22 11:01] nkoutroumanis opened #46 "Question about Opacity"
How can i create result of an image with 50% opacity through Java?

[2018-06-25 20:59] frett27 opened #47 "Trainable_Segmentation Applications -> In Order to change from issues :-)"
Wanted to thank you for all the work accomplished,

we successfully use the Weka / Trainable_Segmentation in our open source project for quite a different common usage of the plugin, and works well now.
We use the plugin for reconstructing music from raw scanned images, on old barrel organ books, or disks.

http://www.barrel-organ-discovery.org/site/doc/2017/product/mdwiki.html#!recognition/books.

[2018-06-26 18:33] ctrueden commented on #46
@nkoutroumanis The `java.awt.image` API lets you create `BufferedImage` objects with alpha channel. See e.g. [this SO post](https://stackoverflow.com/a/11552156/1207769). But that is not really specific to Trainable Weka Segmentation. Are you asking how to make TWS spit out an image at a different opacity? The short answer is: you can't, but you can paint the TWS output image onto a `BufferedImage

[2018-06-27 07:08] iarganda commented on #47
@frett27 Thank you very much! I'm glad you found the plugin useful and could apply in such an interesting project!

[2018-07-02 14:21] imagejan commented on #46
If you have an [`ImageRoi`](http://javadoc.scijava.org/ImageJ1/ij/gui/ImageRoi.html), you can set the opacity using `setOpacity(double opacity)`.

For area ROIs (that can be filled), you can use an `Overlay`, as illustrated by this Groovy script:

[code]

[2018-09-18 00:08] half-adder opened #48 "API offline"
The API linked to in the documentation seems to be offline.

[2018-09-18 00:39] ctrueden commented on #48
Which docs? A web URL? Can you give a link? Where does the bad link point?

[2018-09-18 01:55] half-adder commented on #48
Sure.

It's linked to [here](https://imagej.net/Trainable_Weka_Segmentation#Library_use). The link points [here](http://javadoc.imagej.net/Fiji/trainableSegmentation/package-tree.html).

[2018-09-18 03:07] ctrueden commented on #48
Thanks @half-adder. I fixed it.

Note that imagej.net is a wiki, so you can also fix these sorts of things yourself, if you know the fix. In this case, javadoc.imagej.net is now javadoc.scijava.org, but the SSL is not configured yet for javadoc.scijava.org, so the redirect was not working as intended. I'll try to fix this soon.

[2018-09-18 03:07] #48 closed

[2019-02-06 15:48] CarmenSC opened #49 "Question about training classifier"
Hi,

Some context:
I am new using Fiji and WEKA. I am trying to spot some structures in my plants to count them automatically. It worked really well with the first photograph, so I save the model.

I load the model and apply it to a second picture, and it worked but less efficiently. That's why I decided to keep training the model. I tried to do it and I got an error message.

My question is:

Can

[2019-02-08 11:19] iarganda commented on #49
Hello @CarmenSC ,

This is strange. Can you describe the steps you followed after your trained a first time?

To train on different images you have two options:

1. Load a stack of images and call the plugin. The training will be done using all images with annotations.
2. Load and image, call the plugin and perform the training, click on "save data" to store the feature vectors used for training,

[2019-09-18 09:58] acitcratna opened #50 "Explicit definition of sigma values for morphological filters"
**TL;DR:** Feature checkboxes for WEKA attributes aren't enough

**TL;DR (+1):** I can use WEKA to filter and remove features/attributes I don't need for classification, but I can't prevent TWS from generating those features/attributes because I only get to choose a range of sigma values. I have a lot of data, and It's wasting a lot of compute time.

I need more control over sigma values than a ra

[2019-09-18 17:58] ctrueden commented on #50
@acitcratna Thank you for suggestions!

Since this is open-source software, you can do better than hope: you (or your group/colleagues/etc.) can improve the plugin yourself and file a pull request here on GitHub! It would be warmly received.

@iarganda Is there anyone in your group able to investigating making improvements like this?

@maarzt What is the status of [Labkit](https://imagej.net/Labki

[2019-09-25 12:22] maarzt commented on #50
Yes, Labkit addresses this. It allows to specify sigmas individually for each feature.

[2020-01-31 19:17] alirezaeinassab opened #51 "Could not apply classifier!?"
Hi,
I have data_feature.arff that there are 10 classes and 30 feature.
at first, I loaded the image(2592*1944 pix) and load plugin.
When I load data and press training classifier I face with "Cloud not apply classifier". why?
Log error in console is :

how to I can fix it?
Also, I resize that image to 400*300 pix but I get the same error.

[2020-02-03 11:18] iarganda commented on #51
Hello @alirezaeinassab ,

How did you get that ARFF file? Did you train on similar data using the plugin?

[2020-02-03 15:44] alirezaeinassab commented on #51
Hi, Thank you for your reply.
I get the features of ARFF file that including RGB, HSI, L*a*b* and texture feature.
Yes, I did, I just loaded data in trainable segmentation then train on similar data using the plugin.
one more thing, I normalized this ARFF file that I think that issue maybe is related to normalized data. Is this possible?

With regard

[2020-02-03 15:49] iarganda commented on #51
When you say you "get the features of ARFF file that including RGB, HSI, Lab* and texture feature", you mean you calculated that outside the plugin, right? That's not a supported option. You need to get your ARFF from the existing features in Trainable Weka Segmentation.

[2020-02-03 16:50] alirezaeinassab commented on #51
Yes, exactly, You says ARFF files that outside the plugin is not supported by trainable weka segmentation, So, It limits trainable weka segmentation, Right?
Is there any way that I can train my ARFF file and test on the image?

[2020-02-04 07:23] iarganda commented on #51
For that, you need to use scripting. You have an example [here](https://imagej.net/Scripting_the_Trainable_Weka_Segmentation#Example:_define_your_own_features) on how to use your own features.

[2020-02-04 19:00] alirezaeinassab commented on #51
Thank you so much for answering. I think this issue should be closed.

[2020-02-04 19:00] #51 closed

[2020-06-05 10:03] J-na opened #56 "Applying a saved classifier returns a black image when running script"
Hello, i want to use Trainable Weka Segmentation to analyse images of fluorescent cell clusters.
When manually running the plugin i can load a saved classifier and apply it just fine.
However, when automating the segmentation using a beanshell script it returns a black image instead as the result.  This is the script used:

import ij.ImageStack;
import ij.ImagePlus;
import ij.process.ColorSpaceCon

[2020-06-05 14:22] iarganda commented on #56
Hello @J-na,

Are you sure the image is completely "black"? It might be just 0s and 1s so you need to adjust the contrast or simply apply a LUT to see both classes. If you want to have the same LUT as in the plugin, after getting the result image, do the following:

[code]

You have more information [here](https://imagej.net/Scripting_the_Trainable_Weka_Segmentation#Use_same_label_colors_as_in_the

[2020-06-05 16:28] J-na commented on #56
Hello @iarganda,

Thank you for getting back to me so quick.
Intensity analysis confirms that the image contains only pixels with 0 intensity. Applying the golden angle LUT results in this image.
![Threshholded_probabilities_LUT](https://user-images.githubusercontent.com/66468608/83900218-0a4dfd80-a75a-11ea-9f68-4d43fccff01e.jpg)

A quick test of the 'color-based segmentation using clustering' see

[2020-07-15 14:28] whusgp opened #57 "when applying the classifiers, it fails"
my classifier is small, only 8MB, when I try to apply it to a stack which conclude 50 images , it load a long time and give me a window as following.
![image](https://user-images.githubusercontent.com/61721220/87557307-517cc600-c6ea-11ea-95ca-ba30a2906d99.png)
![image](https://user-images.githubusercontent.com/61721220/87557334-5b9ec480-c6ea-11ea-98f5-9a8e8714f708.png)
Can you help me fix this or

[2020-07-16 07:45] iarganda commented on #57
Hello @whusgp
It seems to me the image stack was in a format that maybe Fiji could not read, is it possible? Otherwise, can you post here the whole error message?
Thanks!

[2020-07-16 15:11] whusgp commented on #57
actually it's just a stack of .tiff images
today i run it again, it still fails.
![image](https://user-images.githubusercontent.com/61721220/87688269-58bed500-c7b9-11ea-8441-72f29ebf6a24.png)
![image](https://user-images.githubusercontent.com/61721220/87688325-6c6a3b80-c7b9-11ea-9c80-6e7867a9cd6e.png)
thank you for answering me and your work.

[2020-07-17 14:14] iarganda commented on #57
You get an out of memory error, you might need to use less features or some of the solutions described [here](https://forum.image.sc/t/trainable-weka-error-large-images/10929).

[2020-07-18 13:42] whusgp commented on #57
Thank you for your answer.
Regards

[2020-07-18 15:00] whusgp commented on #57
Really Fantastic work. Though it still works a long time to give a stack of output images, it sparkles me.
Best regards to your work.
Dr.Sun

[2020-11-11 18:55] christianrickert opened #58 "Loading data fails (silently)"
### Problem description
When loading saved data (ARFF) into a Trainable Weka Segmentation window, neither the image overlay (center of plugin window) nor the class lists ("Labels" section on the right) are updated. Basically, you can't revisit previous classification sessions and refine data input for better classification models.

![problem](https://user-images.githubusercontent.com/19319377/9885

[2020-11-12 07:14] iarganda commented on #58
Dear @christianrickert ,

This behavior is intended. First, the ARFF files store the feature vectors of the pixels associated to your training traces, not the ROI selections because ARFF do not store that information. Second, when loading the ARFF file the class labels do not get automatically changed to the ones in the file in order to avoid over-writing the current number and names of classes. I

[2020-11-12 15:53] christianrickert commented on #58
Hi @iarganda

I was afraid you might say: "intended behavior". :smile:

As far as I can tell, the model takes care of the class labels. Did I say otherwise unintentionally?

This manual approach is very, very tedious and error-prone. The workflow for manually saving traces is roughly this:

(pseudocode)
[code]
If we assume 25 traces for three classes, that's 150+ mouse clicks to save and
150+ mous

[2020-11-13 23:51] christianrickert opened #59 "Classification not working in batch mode"
### Problem description
When starting the Trainable Weka Segmentation plugin in ImageJ's batch mode, an exception is thrown, and the classification is not performed.

![unclassified](https://user-images.githubusercontent.com/19319377/99130237-022da000-25cd-11eb-9d3b-c5726250a0f0.PNG)

### Expected behaviour
Since there is no user interaction required, when running the example macro, the classifica

[2020-12-02 16:59] MEKH1 opened #60 "Trainable Wega Segmentation automated"
Hello everyone,
Where can I find the TWS_automated.bsh?
I really want this script file so I can import it into the plugin in image j.
Any help will be appreciated

Thanks in advance

[2020-12-03 09:13] iarganda commented on #60
Hello @MEKH1 !

I assume you are talking about the script mentioned on https://www.frontiersin.org/articles/10.3389/fendo.2018.00666/full

A year ago I commented to the editors that the supplementary material have wrong file names and extensions. They should be "TWS_automated.bsh" and "Thickness_seperation_automated.txt", while they appear as "Data_Sheet_1_An Optimized Approach to Perform Bone His

[2020-12-03 10:24] MEKH1 commented on #60
Hello @iarganda,
Thanks for your response, you are right I was talking about this paper.

I am facing another problem maybe it's better to discuss in another thread.

Regards
MEKH1

[2020-12-03 10:29] MEKH1 opened #61 "Error when updating feature stack"
Hello,

I am trying to run the TWS automated in some image samples, but I got this error, how could I fix it?
any Idea will be appreciated.

Regards

![1](https://user-images.githubusercontent.com/43467769/100997759-fba2a080-355a-11eb-9aea-f88d06b5ff04.JPG)
![2](https://user-images.githubusercontent.com/43467769/100997875-1e34b980-355b-11eb-925b-1daa2c850737.JPG)

[2020-12-04 07:01] iarganda commented on #61
@MEKH1 can you send me the full console error list? It seems the features didn't get calculated so maybe you hit your maximum reserved memory?

[2020-12-04 09:30] MEKH1 commented on #61
yes, sure Attached you can find it, I tried to increase the stack number, it worked on some images then, the error appeared again.

[consol.txt](https://github.com/fiji/Trainable_Segmentation/files/5641766/consol.txt)

[2020-12-04 09:37] #60 closed

[2021-01-11 18:19] christianrickert opened #62 "Closing Weka GUI Chooser started from Trainable Weka Segmentation ends ImageJ2"
Hello, hope everyone is well.

There seems to be an issue with closing the Weka GUI Chooser, when started from the segmentation plugin:

Bug:   Exiting the Weka GUI Chooser started by the Trainable Weka Segmentation Plugin in ImageJ2
           exits ImageJ2 and all open files instead of the Weka GUI Chooser window only

Example:

[code]

Description
The example code will open the Weka GUI Chooser

[2021-03-31 22:27] christianrickert opened #63 "Problem with transfer of classification from stack to images"
Hello, there's something curious about the transfer of my classification model from a training stack to my experimental dataset:
The probability map for the stack looks fine, but the probability map for a single image from the same stack looks different - using the same model for classification.

@iarganda suggested in a [response to another issue](https://github.com/fiji/Trainable_Segmentation/is

[2021-04-01 23:26] christianrickert commented on #63
I've done some troubleshooting. My current working hypothesis is that the Gabor training feature is not compatible with stack training for single image classification. As before, I've trained on the large stack with the same training features - **excluding** Gabor!

Here's the probability map for the first image of the stack:

![stack-Gabor](https://user-images.githubusercontent.com/19319377/11336

[2021-04-04 07:52] iarganda commented on #63
Thanks, @christianrickert for reporting! This looks definitely like a bug in the calculation of the Gabor filters. I'll have a look and be back to you!

[2021-04-05 14:31] christianrickert commented on #63
Thanks for looking into this issue @iarganda. Happy Easter Monday!

[2021-04-15 12:03] AEttinger opened #64 "wrong formula of orientation feature in documentation?"
Hello,

I'm currently trying to re-implement some of the Weka features in Python and had trouble to reproduce the orientation feature based on the Hessian matrix.  After some digging, I found that the formula on the documentation page  [ 1/2 arccos(4b^2 + (a - d)^2) ] does not match the one used in FeatureStack.java [ -0.5 * Math.acos((s_xx	- s_yy) / Math.sqrt(4.0 * s_xy * s_xy + (s_xx - s_yy) * (

[2021-04-16 12:51] ctrueden commented on #64
Thanks, @AEttinger! What do you think, @iarganda?

[2021-04-16 15:49] iarganda commented on #64
Hey @ctrueden and @AEttinger ! Sorry to come late to the conversation. If I'm not mistaken, someone else told me about it before. I tried to update the TWS site, but at the time it was not possible because of the transition of the imagej.net site. Is it possible now?

[2021-04-22 05:23] jessiya825 opened #65 "how to label in batch mode"
Thanks for your Trainable Segmentation ! It is useful !

When I label the cell, I can create training data by
`makeOval(8,113, 46, 104);`
`call("trainableSegmentation.Weka_Segmentation.addTrace", "1", "1");`

**But** I have so many training images, and labeling every cell is time-consuming.

I have gained the binary image, and the label is showed by mask
(notice: all masks in one image belong to t

[2021-04-22 12:43] iarganda commented on #65
Hello @jessiya825

In Fiji you can create a selection (Edit > Selection > Create Selection) out of the binary image you have and add the whole thing as a "trace". I hope that helps!

[2021-06-01 02:28] #58 closed

[2021-06-23 07:04] iarganda commented on #63
Dear @christianrickert,

Sorry for the late replay. I haven't been able to reproduce the error using my own images (and the link to yours has expired)...

ignacio

[2021-06-23 21:33] christianrickert commented on #63
@iarganda No worries, - I've uploaded the TIF again:

[**nu-stack.tif**](https://1drv.ms/u/s!Aqy8rAqTzhwU6mpmfusrWTiOxJDF?e=6Xsvex) (MD5: 42B925923D8C7CE34453416A7C19F78A)

[2021-06-24 12:58] iarganda commented on #63
@christianrickert I'm still unable to reproduce the error. Here is what I've done:

1) Train TWS using a substack of your nu-stack.tif with only 2 slices (for simplicity) using Gabor features only.
2) Save classifier and output probabilty of the whole stack.
3) Run a fresh TWS with the substack, load the classifier and get the probabilities (same result as before).
4) Run a fresh TWS with only the

[2021-06-24 15:20] christianrickert commented on #63
@iarganda Thanks for working on this issue!

I think one of the issue with reproducibility might be that you used the Gabor feature only (I didn't).
Another one is that I didn't run a fresh TWS with the sub-stack, nor did I run a fresh TWS on the first slide.

Let's make sure you can reproduce the issue first.
I've uploaded the macro, the stack, the model, and the traces I've used again:
[**exampl

[2021-06-28 17:37] iarganda commented on #63
OK, I found the problem and it was not an easy one! When you have single slice, the features are calculated calling a multi-threaded method, while a single-threaded method is called for each slice if you have more than one. Usually there is no problem with that, but Gabor filters take some time and, in your case, the order of features in your final feature stack changes from one case to another...

[2021-06-28 17:52] christianrickert commented on #63
Awesome work @iarganda!

Out of curiosity: Would it be possible to continue using the multi-threaded function call (with all threads) for the stack and iterate through the stack once slice at a time? - In your proposed approach (as far as I understand the issue) the number of active threads would be limited by the number of available slices in a given stack.

[2021-07-01 15:34] christianrickert commented on #63
The update fixes the issue #63. Thank you very much @iarganda!

[2021-07-01 15:34] #63 closed

[2021-07-31 13:43] phisanti opened #66 "GPU support"
Hi, I have noticed that Trainable Segmentation takes quite a long time to generate probabilities and export models. Therefore, I was wondering if it would be possible to add support through GPU (CLIJ). Here is the link to the library docs.

https://clij.github.io/clij-docs/macro_intro.html

Kind regards,
S

[2021-08-25 20:15] aforsythe opened #67 "Null pointer excpetion"
Running the following jython code produces a null pointer exception in `3.2.34`.  Downgrading to `3.2.33` solves the issue.

[code]

[code]

[2021-09-01 06:41] CellKai commented on #67
In case it helps, I observed the same issue and described another minimal example to reproduce the problem here: [Applying Weka model in a script fails in recent version](https://forum.image.sc/t/applying-weka-model-in-a-script-fails-in-recent-version/54822)

Thank you for your help!

[2021-09-06 15:30] AyoubOuddah opened #68 "Storing the classification results"
Hello,

The dialogue that suggest to save the images on disk instade of showing them on FIJI aprear only when processing more then two images. Why not always show the dialogue ? then the let the user decide what to do ?

https://github.com/fiji/Trainable_Segmentation/blob/3f20f16312273fe5bb72455e9a3d58cf04c668c8/src/main/java/trainableSegmentation/Trainable_Segmentation.java#L1486

[2021-09-24 09:49] emmenlau commented on #67
I second that, and other users on the forum reported the same. The issue happens in *version 3.2.35*, but goes away after downgrading to *version 3.2.34*. For me the problem was observed in beanshell scripts.

[2021-09-24 12:05] imagejan commented on #67
It seems like this might be fixed by https://github.com/fiji/Trainable_Segmentation/commit/655cd5de401b093ecb7cf3c954cad64149bc73dd.

[2021-09-28 13:59] #67 closed

[2021-09-28 13:59] iarganda commented on #67
This should be now fixed with the 3.3.0 release.

[2021-11-22 22:42] aubrey-y opened #69 "If this project is open source, why is no artifact listed in maven central?"
I found the listing for this project as a dependency here: https://mvnrepository.com/artifact/sc.fiji/Trainable_Segmentation/3.3.1

This happens when I try to add your project as a dependency to a spring boot project:

![image](https://user-images.githubusercontent.com/60039494/142945841-8012f0f1-712b-46cd-9488-0dff5ee3c254.png)

[code]

[2021-11-29 17:47] #69 closed

[2022-02-02 17:15] aubrey-y opened #70 "confused about addBinaryData step in image classification"
Here is the test code we are working with just as a start. The end use case for weka segmentation is as part of a backend service that can handle image classification requests from a frontend application, so trainablesegmentation would just handle the processing from a backend Spring Boot service. (just mentioning this so if there are any foundational issues with what we're trying to do, we get th

[2022-02-03 07:01] iarganda commented on #70
Hello @aubrey-y,

`addBinaryData` is indeed expecting two images: the input (grayscale or RGB) image and its corresponding binary label image. The binary label image in this case is just black and white to assign white pixels to one class and white ones to the other class. So yes, this is used when there is only two classes.

For more classes, you should use any of the `addLabeledData` methods, fo

[2022-02-03 13:22] aubrey-y commented on #70
I'm assuming that `addBinaryData` provides some advantages compared to `addLabeledData`, given of course there are only two classes?

[2022-02-03 13:24] iarganda commented on #70
It is just another method to do it. Binary classification is usually very popular, so it has its own methods.

[2022-02-03 13:26] aubrey-y commented on #70
oh and can you explain this a bit more? pixel values are (r,g,b) right? assuming the indexes of my class are 0, 1, 2 what pixel values would they correspond to?

[2022-02-03 13:38] iarganda commented on #70
The input image can be grayscale or RGB, but the label image should be a grayscale image, so every value corresponds to an index.

[2022-03-07 10:36] CellKai opened #71 "Error while adjusting data!"
Since a few days applying a Weka model in a script fails with the error "Error while adjusting data!". I am using Weka v3.3.2

You can reproduce the issue using the minimal example described on image.sc: https://forum.image.sc/t/applying-weka-model-in-a-script-fails-in-recent-version/54822

**IJ.log windows output:**

Field of view: max sigma = 16.0, min sigma = 0.0
Membrane thickness: 1, patch si

[2022-03-09 18:18] julien2424 opened #72 "Weka Segmentation Class Colors"
Hello!

We are using Weka Segmentation in a Java application to segment an image and would like to understand how class colors are chosen. When we segment the below image, we get this output after running Weka Segmentation (Class 1 is white, Class 2 is Black, Class 3 is Grey). The output image I get is different than what I get if I run the same process in FIJI so let me know if I'm doing somethin

[2022-03-10 20:12] frett27 commented on #72
Are the images the same resolution in both cases ?

Le mer. 9 mars 2022 à 19:18, julien2424 ***@***.***> a écrit :

[2022-03-10 22:09] julien2424 commented on #72
@frett27 After looking at it more, I was able to get my code to return the same image FIJI does (like the image above), but I would still like to know how I could set the colors for different classes. Is this possible?

[2022-03-11 10:06] CellKai commented on #71
not sure what caused the issue, but it seems to be fixed using Trainable_Segmentation-3.2.34.jar.

[2022-03-11 10:06] #71 closed

[2022-03-11 22:02] frett27 commented on #72
My usage was only binary for classification, so i did not had to interpret
result,
none the less, have you tried activate the probability map ?

on the wekasegmentation code

public ImagePlus applyClassifier(
final ImagePlus imp,
int numThreads,
final boolean *probabilityMaps)*

it seems to create an hyperstack for getting all the classes independently

Le jeu. 10 mars 2022 à 23:09, julien2424 ***

[2022-04-03 23:45] tumblejunky commented on #71
I just want to state that I am having the same issue with scripting segmentation and is fixed with older distributions. Thanks for keeping an active distribution.

[2022-04-04 18:06] #72 closed

[2022-04-04 18:11] julien2424 opened #73 "Adding Polygon as Example"
Hello!

We are currently running Weka Segmentation successfully, but are only able to add Rectangles as ROIs for the examples. We thought we might be able to add Polygons (as they are both java.awt) but it seems like the ROI constructor only accepts Rectangles. How do you recommend we get around this? Thanks!

![roi_constr](https://user-images.githubusercontent.com/43152798/161605328-2962fa11-5407

[2022-04-06 05:46] iarganda commented on #73
I'll have a look. I haven't changed anything and Polygons used to work (if I remember well) so it might have to do with an update in the ImageJ core.

[2022-04-07 20:58] julien2424 commented on #73
@iarganda Okay let me know what you find. Is there any way you can think of to get around this?

[2022-05-18 20:40] TylerJang opened #74 "Issue in load_classifier in most recent version 3.3.2 vs 3.3.1"
Hi,

During the most recent version update, we have noticed that using load_classifier in the provided example Beanshell code from https://imagej.net/plugins/tws/scripting titled **Example: apply classifier to all images in folder** no longer works. Going to an older version of TWS, such as 3.3.1, fixes the issue and we notice that the version this error consistently occurs is in the most recent v

[2022-05-18 20:49] tkataras commented on #74
To provide a bit more visual context for this issue, this is the popup error dialogue box:
![image](https://user-images.githubusercontent.com/31904698/169152413-3a2f6d75-9557-41f6-98e8-baba2c3db525.png)

The log output at time of error looks like this:
![image](https://user-images.githubusercontent.com/31904698/169152594-0e436426-98e5-4e27-bc1c-987c3cd85b77.png)

the Imagej macro Window error repo

[2022-06-21 10:57] imagejan commented on #73
@julien2424 do I get it right that you want to add a polygon ROI *programmatically* (i.e. not using the Polygon selection tool and your mouse)?

In this case, please use `ij.gui.PolygonRoi` which extends `ij.gui.Roi`.

[2022-10-26 18:37] ctrueden opened #75 "Tests fail again with ImageJ 1.53u"
[code]

@hinerm wrote: